$cardColor : black;
$cardOverColor : black;
$cardImgBgColor : grey;
$cardBg : rgba(217, 217, 217, 0.58);

$nameColor : darkgreen;


.Detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: 10px;
  width: 90%;
  height: 100%;
  background: $cardBg;
  border: 1px solid white;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  user-select: none;
  font-weight: bolder;
  color: $cardColor;
  font-size: 1.2em;
  // position: relative;
}

.Detail:hover {
  border: 1px solid $cardOverColor;
  transform: scale(1.05);
}

.Detail:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.Detail img {
  border-radius: 50%;
  padding: .2em;
  background-color: $cardImgBgColor;
  width: 200px;
  height: 200px;
}

.name {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 5px;
  color: $nameColor
}

.data {
  margin: 0;
}


.h2 {
  font-size: 1em;
  padding: 0;
  color: white;
}

.h3 {
  font-size: .8em;
  padding: 0;
}